In [1]:
import pandas as pd

In [2]:
totals = pd.read_csv('totals.csv').set_index(keys=['name'])
counts = pd.read_csv('counts.csv').set_index(keys=['name'])
# print(totals)
# print(counts)

In [4]:
# City with lowest total precipitation:
total_city = pd.DataFrame.sum(totals, axis=1)
min_city = pd.Series.argmin(total_city)
print("City with lowest total precipitation:")
print(min_city)

City with lowest total precipitation:
YELLOWKNIFE A

In [14]:
# Average precipitation in each month:
total_mon = pd.DataFrame.sum(totals, axis=0)
count_mon = pd.DataFrame.sum(counts, axis=0)
ave_mon = total_mon.divide(count_mon)
print("Average precipitation in each month:")
print(ave_mon)

Average precipitation in each month:
2016-01    27.779783
2016-02    30.426295
2016-03    29.410072
2016-04    17.966543
2016-05    21.344569
2016-06    20.694981
2016-07    24.977186
2016-08    19.856618
2016-09    24.065637
2016-10    44.684411
2016-11    34.615686
2016-12    32.366795
dtype: float64

In [15]:
# Average precipitation in each city:
count_city = pd.DataFrame.sum(counts, axis=1)
ave_city = total_city.divide(count_city)
print("Average precipitation in each city:")
print(ave_city)

Average precipitation in each city:
name
BURNABY SIMON FRASER U            47.778598
CALGARY INTL A                    14.333333
GANDER INTL A                     39.912329
HALIFAX INTL A                    41.445055
REVELSTOKE                        23.409972
SHERBROOKE                        23.681440
TORONTO LESTER B. PEARSON INT'    17.521978
VANCOUVER INTL A                  36.522222
YELLOWKNIFE A                      6.154270
dtype: float64